calendar_focus.app/Contents/Resources/Scripts/main.scpt
.DS_Store
calendar_focus.app/Contents/Info.plist
calendar_focus.app/Icon
calendar_focus.app/Icon
calendar_focus.app/Contents/PkgInfo
calendar_focus.app/Contents/MacOS/applet
calendar_focus.app/Contents/Resources/applet.icns
calendar_focus.app/Contents/Resources/applet.rsrc
calendar_focus.app/Contents/Resources/description.rtfd/TXT.rtf
